.match-result{
    text-align: center;
    flex-basis: 30%;
    margin-bottom: 2rem;
}

.center{
    text-align: center;
}

.score{
    margin-top: 0px;
    padding-top: 0px;
}

.teams{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#results{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
