{% extends "base.html" %}
{% block content %}
<div class='container'>
    <h1 class='center'>{{ data['year'] }} Week {{ data['week'] }}</h1>
    <div>
        {% for game in data['games']: %}
            <h4 class='center'>{{ game['name'] }}</h2>
            <ul>
                {% for play in game['plays'] %}
                    <li>{{ play['play_string'] }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <a href="/" class='button button-primary'>Search Again</a>
    <form action="/update_full_week/{{ data['year'] }}/{{ data['week'] }}" method="post">
        <button class="button">Update Data</button>
    </form>
</div>
{% endblock %}