{% extends "base.html" %}
{% block content %}
<div class='container'>
    <h1 class='center'>{{ data['year'] }} Week {{ data['week'] }}</h1>
    <a href="/week/{{ data['year'] }}/{{ data['week'] }}/{{ playoffs }}" class='button button-primary'>Back to week</a>
    <div>
        {% for game in data['games']: %}
            <h4 class='center'>{{ game['name'] }}</h4>
            <ul>
                {% for play in game['plays'] %}
                    <li>{{ play['play_string'] }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
    <a href="/" class='button button-primary'>Search Again</a>
    <form action="/full_week/{{ data['year'] }}/{{ data['week'] }}/{{ playoffs }}" method="POST">
        <button class="button">Update Data</button>
    </form>
</div>
{% endblock %}