{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>NFLScores</h1>
        <form action="/week" method="GET">
            <div class="row">
                <div class="six columns">
                    <label>Year</label>
                    <input class="u-full-width" id="year" type="text" name="year" value="2018" required>
                </div>
                <div class="six columns">
                    <label>Week</label>
                    <input class="u-full-width" id="week" type="text" name="week" placeholder="Enter week" required>
                </div>
            </div>
            <button class="button-primary">Submit</button>
        </form>
    </div>
{% endblock %}