{% extends "base.html" %}
{% block content %}
<div class='container'>
    <h1 class="center">{{ year }} Week {{ week }}</h1>
    <div class='center'>
        <a class='button button-primary' href="/full_week/{{ year }}/{{ week }}">View Full Week</a>
    </div>
    <div id='results'>
    {% for game in games: %}
        <div class='match-result'>
            <h6>{{ game['name'] }}</h6>
            <a class="button" href="/match/{{ game['id'] }}">Get Plays</a>
        </div>
    {% endfor %}
    </div>
    <a href="/" class='button button-primary'>Search Again</a>
    <form action="/update_week/{{ year }}/{{ week }}" method="post">
        <button class="button">Update Data</button>
    </form>
</div>
{% endblock %}